<div ng-controller="QuerybuilderCtrl">
	<section>
		<div class="section-body">
			<div class="row" collapse="filterIsCollapsed">
				<div class="col-md-2">
					<div class="card ">
						<div class="card-head">
						<header>Entities</header>
						<div class="tools">
							
						</div>
						</div><!--end .card-head -->
						<div class="nano" style="height: 300px;">
							<div class="nano-content" tabindex="0">
								<div class="card-body no-padding height-9">
									<ul class="list">
										<li class="" ng-repeat="entity in entitiesList">
											<div class="checkbox checkbox-styled tile-text">
												<label>
													<input type="checkbox" ng-model="entity.selected" />
													<span>{{entity.name}}</span>
												</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="nano-pane">
								<div class="nano-slider" style="height: 240px; -webkit-transform: translate(0, 0px);"></div>
							</div>
							</div><!--end .card-body -->
							</div><!--end .card -->
						</div>
						<div class="col-md-4">
							<div class="card ">
								<div class="card-head">
								<header>Columns</header>
								<div class="tools">
									<div class="dropdown">
										<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-default btn-sm btn-collapse" data-target="#" href="/page.html">
											Add Column <i class="md md-add"></i>
										</a>
										<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
											<li class="dropdown-submenu" ng-repeat="entity in entitiesList | filter:{selected:true}">
												<a tabindex="-1">{{entity.name}}</a>
												<ul class="dropdown-menu">
													<li><a ng-repeat="col in entity.columns" ng-click="addSelectedColumns(col.name, entity.name)">{{col.name}}</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="nano" style="height: 300px;">
								<div class="nano-content" tabindex="0">
									<div class="card-body no-padding height-9">
										<ul class="list divider-full-bleed">
											<li class="tile" ng-repeat="col in selectedColumns">
												<a class="tile-content ink-reaction">
													<div class="tile-text">{{col.entity}} - {{col.column}}</div>
												</a>
												<a class="btn btn-flat ink-reaction" ng-click="deleteSelectedColumn(col)">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="nano-pane">
									<div class="nano-slider" style="height: 240px; -webkit-transform: translate(0, 0px);"></div>
								</div>
								</div><!--end .card-body -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="card ">
								<div class="card-head">
								<header>Filter</header>
								<div class="tools">
									<div class="dropdown">
										<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-default btn-sm btn-collapse" data-target="#" href="/page.html">
											Add Filter<i class="md md-add"></i>
										</a>
										<ul class="dropdown-menu multi-level " role="menu" aria-labelledby="dropdownMenu">
											<li class="dropdown-submenu pull-left" ng-repeat="entity in entitiesList | filter:{selected:true}">
												<a tabindex="-1">{{entity.name}}</a>
												<ul class="dropdown-menu">
													<li><a ng-repeat="col in entity.columns" ng-click="addSelectedFilters(col.name, entity.name, col.type)">{{col.name}}</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="nano" style="height: 300px;">
								<div class="nano-content" tabindex="0">
									<div class="card-body no-padding height-9">
										<ul class="list divider-full-bleed">
											<li class="tile" ng-repeat="col in selectedFilters">
												<div class="tile-content">
													<div class="tile-text">{{col.entity}} - {{col.column}} <span dropdown on-toggle="toggled(open)">
														<a class="text-primary" href id="simple-dropdown{{col.sl}}" dropdown-toggle>
															{{col.filterType}}
														</a>
														<ul class="dropdown-menu" aria-labelledby="simple-dropdown{{col.sl}}">
															<li ng-repeat="choice in filterItems">
																<a href ng-click="col.filterType = choice;">{{choice}}</a>
															</li>
														</ul>
													</span>
													<span editable-text="col.filterText">{{ col.filterText || (col.filterType === 'between'? 'from' : 'empty') }}</span>
													<span editable-text="col.filterTextTo" ng-if="col.filterType === 'between'"> - {{ col.filterTextTo || (col.filterType === 'between'? 'to' : 'empty') }}</span>
												</div>
											</div>
											<a class="btn btn-flat ink-reaction" ng-click="deleteSelectedFilter(col)">
												<i class="fa fa-trash"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="nano-pane">
								<div class="nano-slider" style="height: 240px; -webkit-transform: translate(0, 0px);"></div>
							</div>
							</div><!--end .card-body -->
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<input class="btn btn-primary" type="submit" value="Search" ng-hide="filterIsCollapsed" ng-click="isQueried = true"/>
					<input class="btn ink-reaction btn-default-light" type="button" value="Reset" ng-hide="filterIsCollapsed" ng-click="isQueried = false" />
					<button type="button" class="btn ink-reaction btn-flat btn-info" ng-click="filterIsCollapsed = !filterIsCollapsed">{{filterIsCollapsed ? 'Show Options' : 'Hide Options'}}</button>
				</div>
			</div>
			<div class="row" ng-show="isQueried">
				<br />
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<table class="table table-condensed no-margin">
								<thead>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Username</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>@fat</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<td>4</td>
										<td>Laurie</td>
										<td>Hart</td>
										<td>@lau</td>
									</tr>
									<tr>
										<td>5</td>
										<td>Kristin</td>
										<td>Poole</td>
										<td>@kri</td>
									</tr>
									<tr>
										<td>6</td>
										<td>Melvin</td>
										<td>Vega</td>
										<td>@vega</td>
									</tr>
								</tbody>
							</table>
						</div><!--end .card-body -->
					</div>
				</div>
			</div>
		</section>
	</div>