<div class="row">
        <div class="col-md-6">
            <div class="row">
               <div class="col-sm-3">PI/RS/LV</div>
                <div class="col-sm-9">
                   <b ng-show="isChairman" editable-select="details.piUser.id" onshow="loadPiUsers()" e-ng-options="g.id as g.firstName  for g in piUsers  | unique:'email'"
                       onaftersave="updatePi($data)">{{details.piUser.firstName || "Select PI"}} {{details.piUser.lastName}}</b>
                     <b ng-show="!isChairman">{{details.piUser.firstName || "Not Assigned"}} {{details.piUser.lastName}}</b>
                  </div>
               </div>
           </div>
    
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Building/Room</div>
            <div class="col-sm-9">
                <b editable-text="details.protocolAdministrativeData.building" ng-show="isEditable" onaftersave="updateAdminstrativeData('building',$data)">{{details.protocolAdministrativeData.building || "Enter Building/Room"}}</b>
                <b ng-show="!isEditable">
                    {{ details.protocolAdministrativeData.building}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Telephone</div>
            <div class="col-sm-9">
                <b>
                    {{details.piUser.phoneNumber || "Not Assigned"}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Fax</div>
            <div class="col-sm-9">
                <b editable-tel="details.protocolAdministrativeData.fax" ng-show="isEditable" onaftersave="updateAdminstrativeData('fax',$data)"
                     e-mask="999-999-9999" e-restrict="reject">{{details.protocolAdministrativeData.fax || "Enter Fax"}}</b>
                <b ng-show="!isEditable">
                    {{ details.protocolAdministrativeData.fax}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Email</div>
            <div class="col-sm-9">
                <b>
                    {{details.piUser.email || "Not Assigned"}}
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Client<span class="text-danger">*</span></div>
            <div class="col-sm-9">
                <b editable-text="details.protocolAdministrativeData.client" ng-show="isEditable" onaftersave="updateAdminstrativeData('client',$data)">{{details.protocolAdministrativeData.client || "Enter Client"}}</b>
                <b ng-show="!isEditable">
                    {{ details.protocolAdministrativeData.client}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3">Project Title<span class="text-danger">*</span></div>
            <div class="col-sm-9">
                <b editable-text="details.protocolAdministrativeData.projectTitle" ng-show="isEditable" onaftersave="updateAdminstrativeData('projectTitle',$data)">{{details.protocolAdministrativeData.projectTitle || "Enter Project Title"}}</b>
                <b ng-show="!isEditable">
                    {{details.protocolAdministrativeData.projectTitle}}
                </b>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="checkbox checkbox-styled">
            <label>
                <input type="checkbox" value="" ng-model="isInitial" ng-checked ="isInitial"  ng-disabled="!isEditable" ng-change="updateAdminstrativeData('initialSubmission',isInitial)">
                <span>Initial Submission</span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox checkbox-styled" >
            <label>
                <input type="checkbox" value=""  ng-model="isModification" ng-checked="isModification"  ng-disabled="!isEditable" ng-change="updateAdminstrativeData('modification',isModification)">
                <span>Modifications</span>
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox checkbox-styled">
            <label>
                <input type="checkbox" value="" ng-model="pSelected" ng-disabled="!isEditable">
                <span>Renewal of Proposal Number</span>&nbsp;&nbsp;&nbsp;
                <b editable-text="details.protocolAdministrativeData.renewalProposalNumber" ng-show="isEditable && pSelected" onaftersave="updateAdminstrativeData('renewalProposalNumber',$data)">{{details.protocolAdministrativeData.renewalProposalNumber || "Renewal of Proposal Number"}}</b>
                <b ng-show="!isEditable && details.protocolAdministrativeData.renewalProposalNumber != ''">
                    {{details.protocolAdministrativeData.renewalProposalNumber}}
                </b>
            </label>
        </div>
    </div>
</div>
<br>
<div class="row">
    <label class="text-bold">List the names of all individuals authorized to conduct procedures involving animals under this proposal,</label>
     <select ui-select2  ng-model="details.protocolAdministrativeData.animalProceduresPersonals" multiple id="animalProceduresPersonalsUsers" ng-change="updateAdminstrativePersonals(details.protocolAdministrativeData.animalProceduresPersonals)"  data-placeholde="Select Role" class="form-control"  ng-disabled="!isEditable">
        <option ng-repeat="person in usersList" value="{{person.id}}">{{person.firstName}}  {{person.lastName}}</option>
        <option>Others</option>
    </select>
    <!--<div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-3">Role</th>
                    <th>User</th>
                    <th class="col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in individuals">
                    <td>
                        <span ng-if="!user.isEditable">{{user.role}}</span>
                        <span ng-if="user.isEditable">
                            <select ui-select2 ng-model="user.role" data-placeholde="Select Role" class="form-control">
                                <option ng-repeat="role in userRoles">{{role.roleName}}</option>
                            </select>
                        </span>
                    </td>
                    <td>
                        <div ng-if="!user.isEditable && user.username !== 'Others'" class="col-xs-12">{{user.username}}</div>
                        <div ng-if="!user.isEditable && user.username === 'Others'" class="col-xs-12">{{user.otherUsername}}</div>
                        <div ng-if="user.isEditable" class="col-xs-6">
                            <select ui-select2 ng-model="user.username" data-placeholde="Select Role" class="form-control">
                                <option ng-repeat="person in usersList">{{person.userName}}</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div ng-if="user.isEditable" class="col-xs-6" ng-show="user.username == 'Others'">
                            <input type="text" name="name" class="form-control" ng-model="user.otherUsername" />
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-flat btn-primary" ng-if="!user.isEditable" ng-click="user.isEditable = true"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-flat btn-danger" ng-if="!user.isEditable"><i class="fa fa-trash"></i></button>
                            <button type="button" class="btn btn-flat btn-success" ng-if="user.isEditable" ng-click="user.isEditable = false"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-flat btn-danger" ng-if="user.isEditable" ng-click="user.isEditable = false"><i class="fa fa-times"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->
</div>
<div class="row">
    <label class="col-sm-3">PI doing hands-on animal work?</label>
    <div class="col-sm-9">
        <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" value="true" ng-model="details.protocolAdministrativeData.piHandsOnAnimalWork"><span>Yes</span>
        </label>
        <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" value="false" ng-model="details.protocolAdministrativeData.piHandsOnAnimalWork"><span>No</span>
        </label>
    </div><!--end .col -->
</div>
<div class="row">
    <label class="text-bold">Co-investigator(s): (Maximum three investigators; Include affiliation)</label>
    <select ui-select2  ng-model="details.protocolAdministrativeData.coInvestigators" ng-change="updateAdminstrativecoInvestigators(details.protocolAdministrativeData.coInvestigators)" data-placeholde="Select Role" multiple class="form-control" ng-disabled="!isEditable">
        <option ng-repeat="person in usersList" value="{{person.id}}" >{{person.firstName}} {{person.lastName}}</option>
        <option>Others</option>
    </select>
</div>
<div class="row">
    <label class="text-bold">Other Personnel:</label>
    <select ui-select2  ng-model="details.protocolAdministrativeData.otherPersonals" ng-change="updateAdminstrativeotherPersonals(details.protocolAdministrativeData.otherPersonals)" data-placeholde="Select Role" multiple class="form-control" ng-disabled="!isEditable">
        <option ng-repeat="person in usersList" value="{{person.id}}">{{person.firstName}} {{person.lastName}}</option>
        <option>Others</option>
    </select>
    
</div>