<blockquote><small>Briefly explain the experimental design and specify all animal procedures performed. This description should allow the ACUC to understand the experimental course of an animal from its entry into the experiment to the endpoint of the study. Specifically address the following</small></blockquote>

<div class="row">
	<div class="col-xs-12">
		<ul class="list">
			<li class="tile"  ng-repeat="question in experimentalDesignQuestions">
				<span class="tile-content ink-reaction no-padding">
					<div class="tile-text">
						
						{{$index+ 1}}.{{question.value}} <span class="text-sm">{{question.hint}}</span>
						<span ng-show="question.id == '1'||question.id == '12'||question.id == '13'||question.id == '14' " class="text-danger">*</span>
						<small>
							<a href="#" editable-textarea="question.text" e-rows="7" e-cols="100" ng-show="isEditable" onaftersave="addOrUpdateQuestion(question,'descriptionOfExperiment')">
								<pre>{{ question.text || 'Enter your Answer.' }}</pre>
							</a>
							<pre ng-show="!isEditable">{{ question.text || 'Empty' }}</pre>
						</small>
					</div>
				</span>
			</li>
		</ul>
	</div>
</div>