<blockquote>
	<small>
		Proper use of animals, including the avoidance or minimization of discomfort, distress, and pain when consistent with sound scientific practices, is imperative. Unless the contrary is established, investigators should consider that procedures that cause pain or distress in human beings may cause pain or distress in animals.
	</small>
	<small>Check the appropriate category(ies) and indicate the approximate number of animals in each. Sum(s) should equal total from Section B.</small>
	<small>IF ANIMALS ARE INDICATED IN COLUMN E, A SCIENTIFIC JUSTIFICATION IS REQUIRED TO EXPLAIN WHY THE USE OF ANESTHETICS, ANALGESICS, SEDATIVES OR TRANQUILIZERS DURING AND/OR FOLLOWING PAINFUL OR DISTRESSFUL PROCEDURES IS CONTRAINDICATED. FOR USDA REGULATED SPECIES, PLEASE COMPLETE THE EXPLANATION FOR COLUMN E LISTINGS FORM AT THE END OF THIS DOCUMENT.</small>
</blockquote>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th colspan="3" class="col-xs-3"><b>Number of animals to be used each year</b></th>
			</tr>
			<tr>
				<th></th>
				<th><b>YEAR 1</b></th>
				<th><b>YEAR 2</b></th>
				<th><b>YEAR 3</b></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><b>USDA Column B</b> - No Pain or Distress</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnB.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnB,'year1',$data)">{{details.recordPainDistressCategory.usdacolumnB.year1}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnB.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnB,'year2',$data)">{{details.recordPainDistressCategory.usdacolumnB.year2}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnB.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnB,'year3',$data)">{{details.recordPainDistressCategory.usdacolumnB.year3}}</td>
			</tr>
			<tr>
				<td><b>USDA Column C</b> - Slight (Minimal), Momentary (Transient), or No Pain or Distress</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnC.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnC,'year1',$data)">{{details.recordPainDistressCategory.usdacolumnC.year1}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnC.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnC,'year2',$data)">{{details.recordPainDistressCategory.usdacolumnC.year2}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnC.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnC,'year3',$data)">{{details.recordPainDistressCategory.usdacolumnC.year3}}</td>
			</tr>
			<tr>
				<td><b>USDA Column D</b> - Pain or Distress Relieved By Appropriate Measures</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnD.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnD,'year1',$data)">{{details.recordPainDistressCategory.usdacolumnD.year1}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnD.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnD,'year2',$data)">{{details.recordPainDistressCategory.usdacolumnD.year2}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnD.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnD,'year3',$data)">{{details.recordPainDistressCategory.usdacolumnD.year3}}</td>
			</tr>
			<tr>
				<td><b>USDA Column E</b> - Unrelieved Pain or Distress</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnE.year1" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnE,'year1',$data)">{{details.recordPainDistressCategory.usdacolumnE.year1}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnE.year2" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnE,'year2',$data)">{{details.recordPainDistressCategory.usdacolumnE.year2}}</td>
				<td e-style="width:50px" editable-number="details.recordPainDistressCategory.usdacolumnE.year3" onaftersave="updatePainOrDistressColumns(details.recordPainDistressCategory.usdacolumnE,'year3',$data)">{{details.recordPainDistressCategory.usdacolumnE.year3}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th><b>Total</b></th>
				<th>{{details.recordPainDistressCategory.usdacolumnB.year1+details.recordPainDistressCategory.usdacolumnC.year1+details.recordPainDistressCategory.usdacolumnD.year1+details.recordPainDistressCategory.usdacolumnE.year1}}</th>
				<th>{{details.recordPainDistressCategory.usdacolumnB.year2+details.recordPainDistressCategory.usdacolumnC.year2+details.recordPainDistressCategory.usdacolumnD.year2+details.recordPainDistressCategory.usdacolumnE.year2}}</th>
				<th>{{details.recordPainDistressCategory.usdacolumnB.year3+details.recordPainDistressCategory.usdacolumnC.year3+details.recordPainDistressCategory.usdacolumnD.year3+details.recordPainDistressCategory.usdacolumnE.year3}}</th>
			</tr>
		</tfoot>
	</table>	
</div>

<div class="row">
	<div class="col-md-12">
		Describe in a brief narrative your consideration of alternatives to all procedures listed for Column D and E that may cause more than momentary or slight pain or distress to the animals, and your determination that alternatives that allow the attainment of the goals of the research were not available. Consideration must be given to alternative procedures, refinement of current procedures, and reduction in the number of animals used. Delineate below the methods and sources used in the search for and consideration of alternative procedures and method refinements. Database references must include databases (2 or more) searched, the date of the search, period covered, and keywords used. Expert consultations must include the consultant’s name and qualifications and the date and content of consult. It is the responsibility of the Principal Investigator to justify why alternative procedures and refinements are contraindicated.
	</div>
	<div class="col-md-12">
		<a href="#" editable-textarea="details.recordPainDistressCategory.narativeOfProcedures" e-rows="7" e-cols="100" onaftersave="updatePainOrDistress('narativeOfProcedures',$data)">
			<pre>{{details.recordPainDistressCategory.narativeOfProcedures || 'Enter details' }}</pre>
		</a>
	</div>	
</div>
<blockquote>
	<small>Note: Principal investigators must certify in Section N, Certification 5, that no valid alternative was identified to any described procedures which may cause more than momentary pain or distress, whether it is relieved or not.</small>
</blockquote>