<blockquote><small>If proposed, complete the following.</small></blockquote>
<div class="checkbox checkbox-styled">
	<label>
		<span>NONE</span>
		<input type="checkbox" value="" ng-model="details.majorSurvialSurgery.none" ng-disabled="!isEditable" ng-change="updateMajorSurvialSurgery(details.majorSurvialSurgery.id,'none',details.majorSurvialSurgery.none)">
		<span>(check if none)</span>
	</label>
</div>

<div class="row" ng-show="!details.majorSurvialSurgery.none">
	<div class="col-xs-12">
		<ul class="list">
			<li class="tile"  ng-repeat="question in surgeryQuestions">
				<a class="tile-content ink-reaction no-padding">
					<div class="tile-text">
						{{$index+ 1}}.{{question.value}}
						<small>
							<a href="#" editable-textarea="question.text" e-rows="7" e-cols="100" ng-show="isEditable" onaftersave="addOrUpdateQuestion(question,'majorSurvialSurgery')">
								<pre>{{ question.text || 'Enter your Answer.' }}</pre>
							</a>
							<pre ng-show="!isEditable">{{ question.text || 'Empty' }}</pre>
						</small>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>