<section class="section-account" ng-controller="LoginCtrl">
    <div class="login-logo">
        <div class="logo">
            <img src="/assets/img/modules/app/logo.png" alt="Logo" height="150px" />
        </div>
        <div class="brand"></div>
    </div>
    <div class="row">
        <!--<div class="col-md-6 visible-md visible-lg">
        <p class="contain-xs" style="padding-top:20px">
                <img class="img-responsive height-12" src="/assets/img/modules/app/tube.png" alt="">
            </p>
        </div>-->
        <div class="col-md-12 col-xs-12">
            <!--<p class="contain-xs">
                <img class="img-responsive" src="/assets/img/modules/app/logo.png" alt="">
            </p>
            <div class="height-2 hidden-xs"></div>-->
            <!--<div class="height-1 visible-xs"></div>-->
            <div class="card contain-xs login-container no-padding">
                <div class="card-body style-gray-dark">
                    <div class="row">
                        <div class="col-sm-offset-0 col-sm-12">
                            <form class="form input-floating-label" accept-charset="utf-8" ng-submit="authenticateUser()">
                                <div class="form-group" ng-class="{'has-error':errorMessage !== ''}">
                                    <input type="text" class="form-control login-input" id="username" name="username" ng-model="user.username" floating-input="">
                                    <label for="username">Email</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':errorMessage !== ''}">
                                    <input type="password" class="form-control login-input" id="password" name="password" ng-model="user.password" floating-input="">
                                    <label for="password">Password</label>
                                    <p class="help-block">{{errorMessage}}</p>
                                </div>
                                <br />
                                <div class="row">
                                    <!--<div class="col-xs-6 text-left">
                                        <div class="checkbox checkbox-inline checkbox-styled">
                                            <label>
                                                <input type="checkbox">
                                                <span>Remember me</span>
                                            </label>
                                        </div>
                                    </div>-->
                                    <!--end .col -->
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary btn-raised btn-block" type="submit">Login</button>
                                    </div>
                                    <!--end .col -->
                                </div>
                                <!--end .row -->
                            </form>
                        </div>
                        <!--end .col -->
                    </div>
                    <!--end .row -->
                </div>
                <!--end .card-body -->
            </div>
            <!--end .card -->
        </div>
    </div>
</section>
<!-- END LOGIN SECTION -->
