pre {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
word-break: break-all;
white-space: pre;
display: block;
max-height: 70px;
overflow-y:70px;
}
