<section ng-controller="UsersListCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Users</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <!-- BEGIN DEFAULT TABLE -->
        <div class="row">
            <div class="col-md-12">
                <div class="card style-primary-light">
                    <div class="card-head">
                        <div class="tools" ng-if="canCreate">
                            <a class="btn btn-floating-action btn-default-light" ui-sref="userProfile({ id: 0 })"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="card-body style-default-bright">
                        <div class="table-responsive">
                            <table id="protocolList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptions">
                                <thead>
                                    <tr role="row">
                                        <th>Email</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Phone Number</th>
                                        <th>Status</th>
                                        <th class="col-sm-2">Roles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in usersList">
                                        <td><a class="btn ink-reaction btn-flat btn-xs btn-primary" ui-sref="userProfile({ id: user.id })" ng-if="canCreate">{{user.email}}</a><span ng-if="!canCreate">{{user.email}}</span></td>
                                        <td>{{user.firstName}}</td>
                                        <td>{{user.middleName}}</td>
                                        <td>{{user.lastName}}</td>
                                        <td mask="(999) 999-9999" ng-model="user.phoneNumber">{{user.phoneNumber}}</td>
                                        <td>{{user.status}}</td>
                                        <td>
                                            <span ng-repeat="role in user.roles">{{role.roleName}} {{$last ? '':', '}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end .table-responsive -->
                    </div>
                    <!--end .card-body -->
                </div>
                <!--end .card -->
            </div>
            <!--end .col -->
        </div>
        <!--end .row -->
        <!-- END DEFAULT TABLE -->
    </div>
    <!--end .section-body -->
</section>
