@import "bower_components/bootstrap/less/bootstrap.less";

@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/material-design-iconic-font/less/material-design-iconic-font.less";


@fa-font-path: "bower_components/font-awesome/fonts";
@icon-font-path:  "bower_components/bootstrap/fonts/";
@md-font-path: "bower_components/material-design-iconic-font/fonts";

/* Component LESS */
@import "assets/less/mats.less";
//
// THEME VARIABLES
// --------------------------------------------------

@import "assets/less/shared/themes/theme-1.less";

@import "protocol/protocol.less";
@import "login/login.less";
@import "users/users.less";
@import "animals/animals.less";
@import "procedures/procedures.less";
@import "dashboard/dashboard.less";
@import "error/error.less";
@import "study/study.less";
@import "clinicalProcedures/clinicalProcedures.less";
@import "reports/reports.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


@import "assets/css/datatables/jquery.dataTables.less";
@import "assets/css/datatables/dataTables.tableTools.less";
@import "assets/css/datatables/dataTables.responsive.less";
@import "assets/css/xeditable.less";
@import "assets/css/toaster.less";
@import "assets/css/select2/select2.less";
@import "assets/css/select2/select2-multiselect.less";
@import "assets/css/c3.less";
@import "assets/css/datepicker.less";
@import "assets/css/fullcalendar/fullcalendar.less";


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
div.ColVis {
  float: right;
  margin: 0 0 0 15px;
}
.card-body.no-padding div.ColVis {
  margin: 15px 15px 15px 0;
}
button.ColVis_Button,
ul.ColVis_collection li {
  position: relative;
  float: left;
  margin-right: 3px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  outline: none;
  cursor: pointer;
  *cursor: hand;
  padding: 4px 12px 4px 30px;
  white-space: nowrap;
  padding: 5px 8px;
}
.ColVis.TableTools button.ColVis_Button,
.ColVis.TableTools ul.ColVis_collection li {
  padding: 6px 12px;
}
button.ColVis_Button:hover,
ul.ColVis_collection li:hover {
  border: 1px solid #999;
  background-color: #f0f0f0;
}
button.ColVis_Button {
  height: 30px;
  padding: 3px 8px;
}
button.ColVis_Button::-moz-focus-inner {
  border: none !important;
  padding: 0;
}
button.ColVis_Button:active {
  outline: none;
}
div.ColVis_collectionBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 1100;
}
ul.ColVis_collection {
  list-style: none;
  width: 150px;
  padding: 8px 0;
  margin: 0;
  border: none;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 2002;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
ul.ColVis_collection li {
  position: relative;
  height: auto;
  left: 0;
  right: 0;
  padding: 3px 10px;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: -1px;
  border: none;
}
ul.ColVis_collection li:hover {
  border: none;
}
ul.ColVis_collection li {
  text-align: left;
}
ul.ColVis_collection li.ColVis_Button:hover {
  border: 1px solid #999;
  background-color: #f0f0f0;
}
ul.ColVis_collection li span {
  display: inline-block;
  padding-left: 0.5em;
  cursor: pointer;
}
ul.ColVis_collection li.ColVis_Special {
  border-color: #555;
  background: #ededed;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #ededed 0%, #d6d6d6 77%, #e8e8e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #ededed 0%, #d6d6d6 77%, #e8e8e8 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #ededed 0%, #d6d6d6 77%, #e8e8e8 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #ededed 0%, #d6d6d6 77%, #e8e8e8 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #ededed 0%, #d6d6d6 77%, #e8e8e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#e8e8e8', GradientType=0);
  /* IE6-9 */
}
ul.ColVis_collection li.ColVis_Special:hover {
  background: #e2e2e2;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #d0d0d0 0%, #d5d5d5 89%, #e2e2e2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #d0d0d0 0%, #d5d5d5 89%, #e2e2e2 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #d0d0d0 0%, #d5d5d5 89%, #e2e2e2 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #d0d0d0 0%, #d5d5d5 89%, #e2e2e2 100%);
  /* Opera 11.10+ */
  background: linear-gradient(top, #d0d0d0 0%, #d5d5d5 89%, #e2e2e2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e2e2e2', GradientType=0);
  /* IE6-9 */
}
span.ColVis_radio {
  display: inline-block;
  width: 20px;
}
div.ColVis_catcher {
  position: absolute;
  z-index: 1101;
}
.disabled {
  color: #999;
}
a[ng-click]{
    cursor:pointer;
}

.st-sort.st-sort-ascent:before{
    content: '\f0dd';
    color: #0960a5;
}

.st-sort.st-sort-descent:before{
    content: '\f0de';
    color: #0960a5;
}

.st-sort:before{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    float: right;
    content: "\f0dc";
    cursor:pointer;
    color: #bfbfbf;
}

.st-selected{
    background: #216eff !important;
    color: white !important;
}

@media print{
  .table-responsive{
    overflow-x:hidden;
  }
}
