<div ng-controller="AnimalListCtrl" ng-init="initData()">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <section>
        <div class="section-body contain-lg">
            <div class="card">
                <div class="card-head style-primary-light">
                    <div class="tools" ng-if="selectedTab === 'animals'">
                        <!-- <div class="btn-group">
                            <div class="btn-group">
                                <a href="#" class="btn ink-reaction btn-raised btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu animation-dock pull-right menu-card-styling" role="menu" style="text-align: left;">
                                    <li>
                                        <a ui-sref="animalDetails({id:0})" data-style="style-default-dark"><i class="fa fa-plus fa-fw text-default-dark"></i> Add Animal</a>
                                    </li>
                                    <li>
                                        <a ng-click="exportAnimals()" data-style="style-default-dark"><i class="fa fa-file-excel-o fa-fw text-default-dark"></i> Export</a>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        <a class="btn btn-floating-action btn-default-light" ui-sref="animalDetails({id:0})"><i class="fa fa-plus"></i></a>
                    </div>
                    <ul class="nav nav-tabs tabs-text-contrast tabs-info" data-toggle="tabs" ui-tabs>
                        <li class="active">
                            <a href="#animal" ng-click="selectedTab = 'animals'">Animals List Testing</a>
                        </li>
                        <!-- <li>
                            <a href="#testResults" ng-click="selectedTab = 'testResults';getTestResults();">Test Results</a>
                        </li>-->
                        <li>
                            <a href="#import" ng-click="selectedTab = 'import'">Import</a>
                        </li>
                        <!-- <li>
                            <a href="#elisa" ng-click="selectedTab = 'ELISA'">ELISA</a>
                        </li>
                        <li>
                            <a href="#mamu" ng-click="selectedTab = 'MAMU'">MAMU</a>
                        </li>-->
                        <li>
                            <a href="#" id="reportsLink" class="dropdown-toggle" data-toggle="dropdown" aria-controls="reportsLink-contents" aria-expanded="false">Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="reportsLink" id="reportsLink-contents">
                                <li role="presentation" class="dropdown-header">Graphical Reports</li>
                                <li>
                                    <a href="#testParametereReport" ng-click="selectedTab = 'testParametereReport';showGraph();" tabindex="-1" role="tab" id="testParametereReport-tab"
                                    data-toggle="tab">CBC-Chem Trend Analysis</a>
                                </li>
                                <li>
                                    <a href="#cbcSingleResultReport" ng-click="selectedTab = 'cbcSingleResultReport'" tabindex="-1" role="tab" id="cbcResultReport-tab"
                                    data-toggle="tab" aria-controls="cbcSingleResultReport">CBC-Chem Report</a>
                                </li>
                                <li role="presentation" class="dropdown-header">Data View</li>
                                <li>
                                    <a href="#animalExport" ng-click="selectedTab = 'animalExport'" tabindex="-1" role="tab" id="animalReport-tab" data-toggle="tab"
                                    aria-controls="animalReport">Animal Data Export</a>
                                </li>
                                <li>
                                    <a href="#cbcFullResultExport" ng-click="selectedTab = 'cbcFullResultExport';getTestResults();" tabindex="-1" role="tab"
                                    id="cbcFullResultReport-tab" data-toggle="tab" aria-controls="cbcFullResultReport">CBC-Chem Data Export</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--end .card-head -->
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="animal">
                        <div class="row">
                            <!--<div class="col-md-offset-10 col-md-2" style="margin-top:-70px">
                                <a class="btn btn-primary" ui-sref="animalDetails({id:0})"><i class="fa fa-plus"></i> Add Animal</a>
                            </div>--></div>
                        <br />
                        <div class="table-responsive">
                            <table id="animalsList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptionsAnimals">
                                <thead>
                                    <tr role="row">
                                        <th><input type="checkbox" /></th>
                                        <th>Animal Id</th>
                                        <th>Old Id</th>
                                        <th>Species</th>
                                        <th>Sex</th>
                                        <th>Client</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="animal in animalsList">
                                        <th><input type="checkbox" ng-model="animal.selected" /></th>
                                        <td>
                                            <a class="btn ink-reaction btn-flat btn-xs btn-primary" ui-sref="animalDetails({id:animal.id})">{{animal.animalId}}</a>
                                        </td>
                                        <td>{{animal.oldId}}</td>
                                        <td>{{animal.species}}</td>
                                        <td>{{animal.sex}}</td>
                                        <td>{{animal.client}}</td>
                                        <td>{{animal.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="import">
                        <div class="well">
                            <div ng-show="isImportLoading" class="text-xl text-center">
                                <i class="fa fa-spinner fa-pulse text-primary"></i>Please wait... Import is in progress.</div>
                            <div ng-hide="isImportLoading">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">File type</label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline radio-styled" ng-repeat="fileType in fileTypes">
                                                <input type="radio" name="fileType" value="{{fileType.value}}" ng-model="$parent.selectedFileType">
                                                <span>{{fileType.text}}</span>
                                            </label>
                                        </div>
                                        <!--end .col -->
                                    </div>
                                    <!--end .form-group -->
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary" ng-click="openFile()" ng-if="!fileName">
                                                <i class="fa fa-folder-open-o"></i>Browse</button>
                                            <button type="button" class="btn btn-primary" ng-show="fileName" ng-click="uploadFileDetails()">
                                                <i class="fa fa-upload"></i>Upload</button>
                                            <button type="button" class="btn btn-default" ng-show="fileName" ng-click="removeFile()">
                                                <i class="fa fa-trash-o"></i>Remove</button>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with segmented button dropdown" readonly ng-model="fileName"
                                        />
                                    </div>
                                    <input style="display:none" type="file" name="readCsvFile" bind="fileContent" filename="fileName" id="readCsvFile" accept=".csv"
                                    file-reader class="form-control" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="table-responsive">
                                <table id="importList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptionsImport"
                                dt-column-defs="dtColumnDefsImport">
                                    <thead>
                                        <tr role="row">
                                            <th>Imported Date</th>
                                            <th>Imported By</th>
                                            <th>Import Type</th>
                                            <th>Status</th>
                                            <th class="col-sm-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="import in importHistoryList">
                                            <td>{{import.uploadedDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                            <td>{{import.uploadedBy}}</td>
                                            <td>{{import.format}}</td>
                                            <td>{{import.status}}</td>
                                            <td>
                                                <button type="button" class="btn ink-reaction btn-flat btn-primary" ng-click="getImportResponse(import.id)">
                                                    <i class="fa fa-download"></i>Download</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="testResults">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th>Collection Date</th>
                                        <th>Accession Number</th>
                                        <th>Species</th>
                                        <th>Animal Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in allTestResults">
                                        <td>{{test.collectedDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{test.accessionNumber}}</td>
                                        <td>{{test.species}}</td>
                                        <td>{{test.animalId.animalId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="tab-pane active" id="elisa">
                        Elisa details
                    </div>
                    <div class="tab-pane active" id="mamu">
                        MAMU details
                    </div>-->
                    <div class="tab-pane" id="testParametereReport">
                        <div class="card style-default-light">
                            <div class="card-body">
                                <form class="form">
                                    <div class="form-group">
                                        <div class="input-daterange input-group" id="demo-date-range">
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" ng-model="searchEndFrom" name="start" date-time min-view="date" view="date" format="MM/dd/yyyy"
                                                auto-close="true">
                                                <label>Date range</label>
                                            </div>
                                            <span class="input-group-addon">to</span>
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" ng-model="searchEndDate" name="end" date-time min-view="date" view="date" format="MM/dd/yyyy"
                                                auto-close="true">
                                                <div class="form-control-line"></div>
                                            </div>
                                            <span class="input-group-addon"></span>
                                            <div class="input-group-content">
                                                <select class="form-control">
                                                    <option>RBC</option>
                                                    <option>WBC</option>
                                                </select>
                                                <label>Test Parameter</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-10">
                                            <input type="text" class="form-control col-sm-12" ng-model="searchAnimalsList" name="searchAnimalsList">
                                            <label>Animals list</label>
                                        </div>
                                        <button type="submit" class="btn btn-raised btn-primary ink-reaction">Show graph</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="">
                                    <div>
                                        <header class="col-sm-9">Select chart type</header>
                                        <div class="col-sm-3">
                                            <select class="form-control form-control" ng-model="chartType">
                                                <option value="bar">Bar</option>
                                                <option value="spline">Line</option>
                                                <option value="area-spline">Area</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-11">
                                        <div id="chart" style="width:60%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sample taken</th>
                                            <th>Animal1</th>
                                            <th>Animal2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="time in timeLines">
                                            <td>{{time}}</td>
                                            <td>{{rbcCount[$index]}}</td>
                                            <td>{{wbcCount[$index]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="cbcSingleResultReport">
                        <div class="card style-default-light">
                            <div class="card-body">
                                <form class="form">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <div class="input-daterange input-group" id="demo-date-range">
                                                    <div class="input-group-content">
                                                        <input type="text" class="form-control" ng-model="searchTestConductedDate" name="searchTestConductedDate" date-time min-view="date"
                                                        view="date" format="MM/dd/yyyy" auto-close="true">
                                                        <label>Test conducted date</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="input-daterange input-group" id="demo-date-range">
                                                    <div class="input-group-content">
                                                        <select class="form-control" style="min-width:200px">
                                                            <option ng-repeat="animal in animalsList">{{animal.animalId}}</option>
                                                        </select>
                                                        <label>Select Animal</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="submit" class="btn btn-raised btn-primary ink-reaction">Show Report</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div>
                            <table class="table table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-3 text-bold">RBC</td>
                                        <td class="col-sm-3 text-bold">8.42</td>
                                        <td class="col-sm-3">6 - 10 M/μL</td>
                                        <td class="text-center">
                                            <div class="bullet-graph">
                                                <div class="graph">
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default no-border"></div>
                                                    <div class="target target-default" style="width: 55%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">Hematocrit</td>
                                        <td class="text-bold">31.2</td>
                                        <td>29 - 45 %</td>
                                        <td>
                                            <div class="bullet-graph">
                                                <div class="graph">
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default no-border"></div>
                                                    <div class="target target-default" style="width: 45%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">Hemoglobin</td>
                                        <td class="text-bold">14.3</td>
                                        <td>9.5 - 15 g/dL</td>
                                        <td>
                                            <div class="bullet-graph">
                                                <div class="graph">
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default no-border"></div>
                                                    <div class="target target-default" style="width: 65%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="text-danger">
                                        <td class="text-bold">MCV</td>
                                        <td class="text-bold">37</td>
                                        <td>41 - 58 fL</td>
                                        <td>
                                            <div class="bullet-graph">
                                                <div class="graph">
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default no-border"></div>
                                                    <div class="target target-red" style="width: 25%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="text-danger">
                                        <td class="text-bold">WBC</td>
                                        <td class="text-bold">28.4</td>
                                        <td>4.2 - 15 K/μL</td>
                                        <td>
                                            <div class="bullet-graph">
                                                <div class="graph">
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default"></div>
                                                    <div class=" region-default no-border"></div>
                                                    <div class="target target-red" style="width: 85%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="animalExport">
                        <div class="card style-default-light">
                            <div class="card-body">
                                <form class="form">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <!-- <label>Status</label>
                                            <label class="radio-inline radio-styled">
                                                <input type="radio" value="HOLDING" name="status" checked>
                                                <span>Holding</span>
                                            </label>
                                            <label class="radio-inline radio-styled">
                                                <input type="radio" value="ACTIVE" name="status" ng-model="searchAnimalsList.status">
                                                <span>Active</span>
                                            </label>-->
                                            <div class="form-group floating-label">
                                                <select id="animalStatus" name="animalStatus" class="form-control" ng-model="searchAnimalsList.status">
                                                    <option value="ACTIVE" selected>ACTIVE</option>
                                                    <option value="HOLDING">HOLDING</option>
                                                    <option value="EUTHANIZED">EUTHANIZED</option>
                                                    <option value="EXITED">EXITED</option>
                                                </select>
                                                <label for="animalStatus">Select status</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-8">
                                            <input type="text" class="form-control col-sm-12" ng-model="searchAnimalsResults.study" name="searchAnimalsResultsStudy">
                                            <label>Study</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-10">
                                            <input type="text" class="form-control col-sm-12" ng-model="searchAnimalsList" name="searchAnimalsList">
                                            <label>Animals list</label>
                                        </div>
                                        <button type="submit" class="btn btn-raised btn-primary ink-reaction">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div>
                            <table style="width:100%" id="animalsReport" class="table table-striped table-bordered table-condensed table-hover dataTable"
                            datatable="ng" dt-options="dtOptionsAnimalsReport">
                                <thead>
                                    <tr role="row">
                                        <th>Animal Id</th>
                                        <th>Old Id</th>
                                        <th>Species</th>
                                        <th>Sex</th>
                                        <th>Client</th>
                                        <th>Date of Birth</th>
                                        <th>Departed date</th>
                                        <th>Recieved Date</th>
                                        <th>Room No.</th>
                                        <th>Source</th>
                                        <th>Virus</th>
                                        <th>Temperature</th>
                                        <th>Pulse</th>
                                        <th>Respiration</th>
                                        <th>Weight</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="animal in animalsList">
                                        <td>{{animal.animalId}}</td>
                                        <td>{{animal.oldId}}</td>
                                        <td>{{animal.species}}</td>
                                        <td>{{animal.sex}}</td>
                                        <td>{{animal.client}}</td>
                                        <td>{{animal.dateOfBirth | date:'MM/dd/yyyy'}}</td>
                                        <td>{{animal.departedDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{animal.recievedDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{animal.roomNum}}</td>
                                        <td>{{animal.source}}</td>
                                        <td>{{animal.virus}}</td>
                                        <td>{{animal.temperature}}</td>
                                        <td>{{animal.pulse}}</td>
                                        <td>{{animal.respiration}}</td>
                                        <td>{{animal.weight}}</td>
                                        <td>{{animal.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="cbcFullResultExport">
                        <div ng-include="'animals/partial/animal-list/templates/testFullResults.html'"></div>
                    </div>
                </div>
                <!--end .card-body -->
            </div>
        </div>
        <!--end .section-body -->
    </section>
</div>
