<section ng-controller="UserprofileCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a ui-sref="users-list">Users</a></li>
            <li class="active">{{userId === 0? 'Add User': 'Modify User'}}</li>
        </ol>

    </div>
    <div class="section-body contain-lg">
        <div class="row">

            <!-- BEGIN ADD CONTACTS FORM -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-head style-primary">
                        <header></header>
                        <div class="tools">
                            <a class="btn btn-flat hidden-xs" ui-sref="users-list"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                        </div>
                    </div>
                    <div ng-hide="detailsEditable" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">First Name</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{user.firstName}}</p>
                							</div>
                						</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Middle Name</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{user.middleName}}</p>
                							</div>
                						</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Last Name</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{user.lastName}}</p>
                							</div>
                						</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Email</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{user.email}}</p>
                							</div>
                						</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Phone Number</label>
                							<div class="col-sm-8">
                								<p class="form-control-static" mask="999-999-9999" ng-model="user.phoneNumber">{{user.phoneNumber}}</p>
                							</div>
                						</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Status</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{user.status}}</p>
                							</div>
                						</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">External User</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{user.externalUser ? 'Yes':'No'}}</p>
                							</div>
                						</div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                							<label class="col-sm-2 control-label">Roles</label>
                							<div class="col-sm-8 list-tags">
                								<span class="label label-primary" style="margin-right:5px" ng-repeat="role in userRoles">{{role.roleName}}</span>
                							</div>
                						</div>
                                    </div>
                                </div>
                                <div class="card-actionbar">
                                    <div class="card-actionbar-row">
                                        <button type="submit" class="btn btn-primary" ng-click="detailsEditable = true;">Edit</button>
                                    </div>
                                    <!--end .card-actionbar-row -->
                                </div>
                            </div>
                    <form class="form" ng-submit="saveProfile()" name="userForm" novalidate ng-show="detailsEditable">
                        <!-- BEGIN DEFAULT FORM ITEMS -->
                        <div class="card-body style-default-bright">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':userForm.firstname.$error.required && (userForm.firstname.$dirty || isFormSubmitted)}">
                                                <input type="text" class="form-control" id="firstname" name="firstname" floating-input="" required ng-model="user.firstName" ng-disabled="!canCreate">
                                                <label for="firstname">First Name <span class="text-danger">*</span></label>
                                                <span id="firstname-error" class="help-block" ng-show="userForm.firstname.$error.required && (userForm.firstname.$dirty || isFormSubmitted)">This field is required</span>
                                            </div>
                                        </div><!--end .col -->
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="middlename" name="middlename" floating-input="" ng-model="user.middleName">
                                                <label for="middlename">Middle Name</label>
                                            </div>
                                        </div><!--end .col -->
                                        <div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':userForm.lastname.$error.required && (userForm.lastname.$dirty || isFormSubmitted)}">
                                                <input type="text" class="form-control" id="lastname" name="lastname" floating-input="" required ng-model="user.lastName" ng-disabled="!canCreate">
                                                <label for="lastname">Last Name <span class="text-danger">*</span></label>
                                                <span id="lastname-error" class="help-block" ng-show="userForm.lastname.$error.required && (userForm.lastname.$dirty || isFormSubmitted)">This field is required</span>
                                            </div>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group floating-label" ng-class="{'has-error':!userForm.email.$valid && (userForm.email.$dirty || isFormSubmitted)}">
                                                <input type="email" class="form-control" id="email" name="email" floating-input="" required ng-model="user.email" ng-disabled="!canCreate">
                                                <label for="functiontitle">Email <span class="text-danger">*</span></label>
                                                <p class="help-block">example: user@example.com</p>
                                                <span id="email-error" class="help-block" ng-show="userForm.email.$error.required && (userForm.email.$dirty || isFormSubmitted)">This field is required</span>
                                                <span class="help-block" ng-show="userForm.email.$error.email && (userForm.email.$dirty || isFormSubmitted)">Invalid format</span>
                                            </div>
                                        </div><!--end .col -->
                                         <div class="col-md-4" ng-class="{'has-error':!userForm.phoneNumber.$valid && (userForm.phoneNumber.$dirty || isFormSubmitted)}">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" floating-input="" ng-model="user.phoneNumber" mask="999-999-9999" clean="true">
                                                <label for="phoneNumber">Phone Number</label>
                                                <span class="help-block" ng-show="!userForm.phoneNumber.$valid && (userForm.phoneNumber.$dirty || isFormSubmitted)">Invalid format</span>
                                            </div>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                    <div class="row">
                                        <!--<div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':userForm.username.$error.required && (userForm.username.$dirty || isFormSubmitted)}">
                                                <input type="text" class="form-control" id="username" name="username" floating-input="" required ng-model="user.username">
                                                <label for="username">Username <span class="text-danger">*</span></label>
                                                <span id="username-error" class="help-block" ng-show="userForm.username.$error.required && (userForm.username.$dirty || isFormSubmitted)">This field is required.</span>
                                            </div>
                                        </div>--><!--end .col -->
                                        <div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':!userForm.password.$valid && (userForm.password.$dirty || isFormSubmitted)}">
                                                <input type="password" class="form-control" id="password" name="password" floating-input="" ng-model="user.password" pattern-validation="((?=.*\d).{6,6})" ng-required="userId === 0">
                                                <label for="password">Password <span class="text-danger" ng-show="userId === 0">*</span></label>
                                                <span class="help-block">Minimum 6, should be combination of alphabets and numerics</span>
                                            </div>
                                        </div><!--end .col -->
                                        <div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':user.password !== user.confirmPassword}">
                                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" floating-input="" ng-model="user.confirmPassword" ng-disabled="!user.password || user.password === ''">
                                                <label for="confirmPassword">Confirm Password</label>
                                                <span id="confirmPassword-error" class="help-block" ng-show="user.password !== user.confirmPassword">Type same as password</span>
                                            </div>
                                        </div><!--end .col -->
                                        <div class="col-md-4" ng-hide="ownProfile">
                                            <br />
                                            <label class="radio-inline radio-styled radio-primary">
                                                <input type="radio" name="userStatus" ng-model="user.status" value="ACTIVE" ng-checked="user.status === 'ACTIVE'"><span>Active</span>
                                            </label>
                                            <label class="radio-inline radio-styled radio-primary">
                                                <input type="radio" name="userStatus" ng-model="user.status" value="INACTIVE" ng-checked="user.status === 'INACTIVE'"><span>Inactive</span>
                                            </label>
                                            <label class="radio-inline radio-styled radio-primary">
                                                <input type="radio" name="userStatus" ng-model="user.status" value="DELETED" ng-checked="user.status === 'DELETED'"><span>Deleted</span>
                                            </label>
                                        </div>
                                        <!--end .col -->
                                    </div><!--end .row -->
                                    <div class="row" ng-hide="ownProfile && !canCreate">
                                        <div class="col-sm-4" ng-hide="ownProfile">
    										<div class="checkbox checkbox-styled">
                                                <br>
    											<label>
    												<input type="checkbox" ng-model="user.externalUser">
    												<span>Is External User</span>
    											</label>
    										</div>
    									</div>
                                        <div class="col-sm-8">
                                            <div class="form-group" ng-class="{'has-error':!userForm.userRoles.$valid && isFormSubmitted}">
                                                <label for="userRoles">Roles <span class="text-danger">*</span></label>
                                                <select ui-select2 ng-model="user.roles" multiple id="userRoles" name="userRoles" data-placeholder="Select Roles" class="form-control" ng-required="true">
                                                    <option ng-repeat="role in roles"value="{{role.id}}">{{role.roleName}}</option>
                                                </select>
                                                 <span id="email-error" class="help-block" ng-show="userForm.userRoles.$error.required &&  isFormSubmitted">This field is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                        <!-- END DEFAULT FORM ITEMS -->
                        <!-- BEGIN FORM FOOTER -->
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <a class="btn btn-warning" ng-show="userId && userId !== '0'" ng-click="detailsEditable = false;">CANCEL</a>
                                <a class="btn btn-warning" ng-show="userId == '0'" ui-sref="users-list">CANCEL</a>
                                <button type="submit" class="btn btn-primary" ng-disabled="isSave">Save</button>
                            </div><!--end .card-actionbar-row -->
                        </div><!--end .card-actionbar -->
                        <!-- END FORM FOOTER -->

                    </form>
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ADD CONTACTS FORM -->

        </div><!--end .row -->
    </div><!--end .section-body -->
</section>
