<section ng-controller="AnimalresultsCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a ui-sref="animal-list">Animals</a></li>
            <li class="active">Test Results</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="card card-underline">
                <div class="card-head">
                    <header class="col-sm-4">Select chart type</header>
                    <div class="col-sm-4">
                        <select class="form-control form-control" ng-model="chartType">
                            <option value="bar">Bar</option>
                            <option value="spline">Line</option>
                            <option value="area-spline">Area</option>
                        </select>
                    </div>
                </div>
                <div class="card-body height-9">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="card no-padding">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sample taken</th>
                                <th>RBC</th>
                                <th>WBC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="time in timeLines">
                                <td>{{time}}</td>
                                <td>{{rbcCount[$index]}}</td>
                                <td>{{wbcCount[$index]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
